.container{
	padding: 0 2rem;
	margin: 5rem auto;
	min-height: 300px;
	box-shadow: .2rem .5rem 2rem .3rem rgba(0,0,0, .5);

	&__header{
		width: 100%;
		display: flex;
		padding: 1.2rem 0;
		align-items: center;
		flex-direction: column;

		select{
			width: 60%;
			padding: .2rem 0;
			line-height: 1.8;
		}
	}
}

.title {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	padding-bottom: .5rem;
}

.most-recent{
	font-weight: 300;
	span {
		font-weight: bold;
	}
}